.button {
  background-color: $blue;
  padding: 13px 15px;
  border-radius: 15px;
  color: $light;
  font-size: 0.985rem;
  font-weight: 700;
  display: inline-block;
  margin-top: 1.125rem;
  text-transform: capitalize;
}
